{% extends 'main_pages/base.html' %}
{% block content %}
{% include 'includes/navbar.html' %}
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card card-body border-0 shadow mb-4">
          <h2 class="h5 mb-4 pt-5">For Business</h2>
          <form method="POST" action=""  name="business_contactForm">
            {% csrf_token %}
            <div class="col-md-12 mb-3">
                <label for="inputSubject" class="form-label">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject"
                    placeholder="Enter Subject">
            </div>
            <div class="col-md-12 mb-3">
                <label for="inputEmail" class="form-label">Email Address</label>
                <input type="email" class="form-control" name="email" id="email_address"
                    placeholder="Enter your email address">
            </div>

                <div class="col-md-12 mb-3">
                    <label for="inputmessage" class="form-label">Message</label>
                    <input type="text" class="form-control" name="message"
                        placeholder="Enter your message" id="message">
                </div>
                
            {% for error in field.errors %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}

            <div class="d-grid">
                <button type="submit"  name="business_contact" class="btn btn-primary">Submit</button>
            </div>
        </form>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card card-body border-0 shadow mb-4">
          <h2 class="h5 mb-4 pt-5">For Customer</h2>
          <form method="POST" action="" name="customer_contactForm">
            {% csrf_token %}
            <div class="col-md-12 mb-3">
                <label for="inputSubject" class="form-label">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject"
                    placeholder="Enter Subject">
            </div>
            <div class="col-md-12 mb-3">
                <label for="inputEmail" class="form-label">Email Address</label>
                <input type="email" class="form-control" name="email" id="email_address"
                    placeholder="Enter your email address">
            </div>

                <div class="col-md-12 mb-3">
                    <label for="inputmessage" class="form-label">Message</label>
                    <input type="text" class="form-control" name="message"
                        placeholder="Enter your message" id="message">
                </div>
                
            {% for error in field.errors %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}

            <div class="d-grid">
                <button type="submit" name="customer_contact" class="btn btn-primary">Submit</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}