<!-- business/appointment_form_partial.html -->
<div class="container mt-4">
    <div class="mb-3">
        {% if messages %}
            <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}"
                         role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <h5 id="createAppointmentModalLabel">{{ action }} Appointment</h5>
    <form method="post" id="appointmentForm" action="{% url 'appointment_create' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="service" class="form-label">Service</label>
            <select class="form-select" id="service" name="service">
                {% for service in services %}
                    <option value="{{ service.id }}" {% if service.id == selected_service_id %}selected{% endif %}>
                        {{ service.name }} {{ service.description }} R{{ service.price }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" value="{{ action == 'Create' ? selected_date : '' }}">
        </div>
        <div class="mb-3">
            <label for="time" class="form-label">Time</label>
            <input type="time" class="form-control" id="time" name="time" value="{{ action == 'Create' ? selected_time : '' }}">
        </div>
        <div class="mb-3">
            <label for="note" class="form-label">Note</label>
            <textarea class="form-control" id="note" name="note"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </form>
</div>
