{% extends 'main_pages/base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Appointment Details</h2>
    <ul class="list-group">
      <li class="list-group-item"><strong>Name:</strong> {{ appointment.user.first_name }}</li>
      <li class="list-group-item"><strong>Email:</strong> {{ appointment.user.email }}</li>
      <li class="list-group-item"><strong>Service:</strong> {{ appointment.service }}</li>
      <li class="list-group-item"><strong>Number:</strong> {{ appointment.user.number }}</li>
      <li class="list-group-item"><strong>Date:</strong> {{ appointment.date }}</li>
      <li class="list-group-item"><strong>Time:</strong> {{ appointment.time }}</li>
      <li class="list-group-item"><strong>Note:</strong> {{ appointment.note }}</li>
    </ul>
    <a href="{% url 'appointment_list' %}" class="btn btn-primary mt-3">Back to List</a>
  </div>
{% endblock %}
