{% extends 'main_pages/base.html' %}
{% load static %}
{% block content %}
{% include 'includes/business_navbar.html' %}
<div class="pt-md-14 pt-12 pb-14">
  <div class="container">
  <!-- Hero Section -->
  <div class="row">
  <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12">
  <div class="mb-4 mb-xl-0 text-center">
  <span class="badge bg-success-soft badge-pill fs-5"><span class=" fw-bold">Beta-v2.0.0 </span>- Just shipped version
  </span>
  <!-- Caption -->
  <h1 class="display-2 ls-sm mt-2 fw-bold ">Request Access for Product </h1>
  <p class="mb-6 h2 text-muted px-md-8">
  Geeks is a customizable, Bootstrap based UI Kits and
  Templates for Developers.
  </p>
  <form class="row px-lg-16 px-md-14">
  <div class="mb-3 col-md-8 col-12 ps-md-0">
  <input type="email" class="form-control" placeholder="Work Email" required="">
  </div>
  <div class="d-grid mb-3 col-md-4 col-12 ps-md-0">
  <button class="btn btn-dark" type="submit">Request Access</button>
  </div>
  <div class="text-start col-12 fw-medium ps-md-0">Rated 5 Stars <span class="text-muted">by over</span><span class="text-primary"> 100+ Users</span></div>
  </form>
  </div>
  </div>
  <div class="offset-xl-1 col-xl-10 col-12 mt-12">
  <div class="card bg-gradient-mix-shade px-md-5 pt-md-5 px-4 pt-4 rounded-3">
  <img src="../assets/images/background/analytics.jpg" alt="" class="rounded-3 mb-n5 img-fluid shadow">
  </div>
  </div>
  </div>
  </div>
  </div>

  <main>
    <section class="py-5 container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8">
          <h1 class="pt-5 mt-3">Software For Stylists</h1>  
          <p>Subscription Free Booking Software For Your Business</p>
          <button type="button" class="btn btn-info">Join Sahair</button>
        </div>
      </div>
    </section>
  
    <section>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="py-4">
          <h1>A full solution to manage and grow your business</h1>
        <p>Packed with all the tools you need to boost sales, manage your calendar and retain clients so you can focus on what you do best

          Best Appointment scheduling Software App
          Appointment scheduling
          
          A sleek and user-friendly salon software compatible with all devices for seamless appointments scheduling and management.
          
          </p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <h5 class="card-title">Appointment scheduling</h5>
                <p class="card-text">A sleek and user-friendly salon software compatible with all devices for seamless appointments scheduling and management.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <h5 class="card-title">Marketing Promotions</h5>
                <p class="card-text">TThe most powerful salon software with marketing features to grow your business and appointment bookings from new clients.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section class="py-5 container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8">
          <h5>ONLINE BOOKING</h5>
          <h1>Grow sales by attracting new clients online</h1>   
          <p>Be seen, be available, build your brand online. Create an online profile on our marketplace to get noticed by thousands of potential clients in your area.</p>
          <p>From your social feed to your door – add unlimited Book now buttons to your Instagram and Facebook pages so new or existing clients can book instantly online.</p>
          <ul>
            <li><p>Attract and retain clients</p></li>
            <li><p>Online self-booking</p></li>
            <li><p>Get trusted ratings and reviews</p></li>
          </ul>
          <button type="submit" class="btn btn-primary">Find Out More</button>
        </div>
        <div class="col-lg-6 col-md-8">
        <img src="" alt="">
        </div>
      </div>
    </section>

    <section>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="py-4">
            <h1>Get Started For Free</h1>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm"> 
                <div class="card-body">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                    <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                    <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
                  <h5 class="card-title">Hairstylist</h5>
              
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">    
                <div class="card-body">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                    <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                    <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
                  <h5 class="card-title">Hair Salon</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">    
                <div class="card-body">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                    <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                    <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
                  <h5 class="card-title">Nail Technician</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">    
                <div class="card-body">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                    <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                    <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
                  <h5 class="card-title">Makeup Artist</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">    
                <div class="card-body">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                    <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                    <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
                  <h5 class="card-title">Beautician</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">    
                <div class="card-body">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                    <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                    <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
                  <h5 class="card-title">Beauty Salon</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8">
          <h1>Download The Sahair App</h1>   
          <p>Book hairstylists with Sahair Mobile App</p>
          <button type="submit" class="btn btn-primary">Find Out More</button>
        </div>
        <div class="col-lg-6 col-md-8">
        <img src="" alt="">
        </div>
      </div>
    </section>

    <section>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="py-4"><h1>Reviews</h1></div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img class="rounded-circle shadow-1-strong mb-4 ms-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp" alt="avatar"
                style="width: 150px;" />
              <div class="card-title ms-4">
                <h5 class="mb-3">Anna Deynah</h5>
                <p>UX Designer</p>
              </div>    
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img class="rounded-circle shadow-1-strong mb-4 ms-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                style="width: 150px;" />
                <div class="card-title ms-4">
              <h5 class="mb-3">John Doe</h5>
              <p>Web Developer</p>  
            </div>  
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img class="rounded-circle shadow-1-strong mb-4 ms-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(7).webp" alt="avatar"
                style="width: 150px;" />
                <div class="card-title ms-4">
              <h5 class="mb-3">Maria Kate</h5>
              <p>Photographer</p>    
            </div>
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  <!-- Footer -->
   <footer>
    <div class="container">

    </div>
    </footer>
  <!-- /Footer -->

  

   
  
  </main>

{% endblock content %}