{% extends 'main_pages/base.html' %}
{% load static %}
{% block head_title %}Create Catalog{% endblock head_title %}

{% block content %}
  <div class="container mt-5">
    <!-- Messages div -->
    {% if messages %}
      <div class="alert alert-dismissible {% if messages.tags %}alert-{{ messages.tags }}{% endif %}">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
    
    <h2>{{ action }} Catalog</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="business_name" class="form-label">Business Name</label>
        <input type="text" class="form-control" id="business_name" name="business_name" value="{{ catalog.business_name }}">
      </div>
      <div class="mb-3">
        <label for="business_contact" class="form-label">Business Contact</label>
        <input type="text" class="form-control" id="business_contact" name="business_contact" value="{{ catalog.business_contact }}">
      </div>
      <div class="mb-3">
        <label for="bio" class="form-label">Bio</label>
        <textarea class="form-control" id="bio" name="bio">{{ catalog.bio }}</textarea>
      </div>
      <div class="mb-3">
        <label for="business_cover_pic" class="form-label">Business Cover Pic</label>
        <input type="file" class="form-control" id="business_cover_pic" name="business_cover_pic" value="{{ catalog.business_cover_pic.url }}">
      </div>
      <div class="mb-3">
        <label for="business_logo" class="form-label">Business Logo</label>
        <input type="file" class="form-control" id="business_logo" name="business_logo" value="{{ catalog.business_logo.url }}">
      </div>
      <!-- Add other fields as needed -->

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
  {% include 'includes/footer.html' %}
{% endblock %}
