<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav id="navArea">
        <div class="logo">
          <a href="#">
            <img src="https://i.postimg.cc/Wz2dVb1j/logo1.png" alt="your company logo">
          </a>
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About</a></li>
        </ul>
        </nav>
        
        <section>First Section</section>
        <section>Second Section</section>
        <section>Third Section</section>
        
        <footer>All Right Reserved By your Website</footer>

        <script src="script.js"></script>
</body>
</html>